<body>
  <div class="flex items-center justify-center min-h-screen">
    <h1>Login</h1>
    <form action="/login" method="POST">
      <label for="email">Email:</label>
      <input type="email" name="email" id="email" required>

      <label for="password">Password:</label>
      <input type="password" name="password" id="password" required>

      <button type="submit">Login</button>

      <h2>Don't have an account? Sign up!</h2>

      <button class="bg-yellow-600 hover:bg-yellow-700 text-white px-10 py-4 rounded-lg text-lg font-bold shadow-lg transition" type="submit">Create Account</button>
    </form>
  </div>
</body>